/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  display: flex;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
 --font-color: rgba(10, 10, 7, 0.6);
}

li {
  list-style-type: none;
}

.sidebar-left {
  font-size: 0.8rem;
  height: 100vh;
  width:13vw;
  background-color: #fbfbfa;
  padding: 8px; 
  display: flex;
  flex-direction: column;
}

.sidebar-links {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* ADD ANIMATIONS FOR LINKS LATER */
.link-item:hover {
  cursor: pointer;
  background-color:  rgba(24, 24, 17, 0.088);
}

.link-item {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.link-item > p {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.active {
  color:rgb(0, 0, 0);
  background-color:  rgba(24, 24, 17, 0.088);
}

.sidebar-top-container{
  position: relative;
  top: 3rem;
  padding-bottom: 10rem;  
}

.sidebar-bottom-container{
  position: relative; 
}

.sidebar-footer {
  color: var(--font-color);
  position: absolute;
  bottom: 0;
  width: 13vw;
  height: 2.5rem;
  left: 0;
  border-top: 2px solid rgba(85, 83, 83, 0.68);
  display: flex;
  align-items: center;  
  justify-content: space-around;
}

.sidebar-new:hover {
  cursor: pointer;
}

.sidebar-settings:hover {
  cursor: pointer;
}

.new-button-div {
  display: flex;
}

.main-right {
  width:100%;
  background-color: #ffffff;
}

.task-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 5rem;
  font-size: 2rem;
  color: var(--font-color)
}

/* .task-page-new, .main-new:hover {
  cursor: pointer;
} */

.main-new::before {
  font-size: 5rem;
}

.new-content:hover {
  cursor: pointer;
}

.page-header {
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem;
}

/* table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
} */

/* td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
} */

.modal-main-div {
  display: flex;
}

dialog {
  margin: auto;
}

.modal-link:hover{
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #c38d9e;
}

.fa-x:hover {
  cursor: pointer;
}

.modal-new-entry {
  display: flex;
  flex-direction: column;
}

.modal-sidebar {
  width: 10dvw;
  text-align: center;
  background-color: #fbfbfa;
}
